header #content {
    display: flex;
    align-items: center;
    border: 2px solid green;
}

nav {
    display: flex;
    border: 2px solid red;
    margin: auto;
}

header ul {
    display: flex;
    list-style: none;
    border: 2px solid yellow;
    padding: 0;
    margin: auto; 
}

.leftList li {
    padding-left: 2.5rem;
}

.rightList li {
    padding-right: 2.5rem;
}

nav img {
    width: 100px;
    height: 100px;
    margin: 0 100px;
}

#about {
    border: 2px solid red;
}

#about h1 {
    border: 2px solid blue;
    text-align: center;
}

#about .container {
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .content {
    border: 2px solid yellow;
}

#about .languageIcons {
    border: 2px solid purple;
    display: flex;
}

#about .languageIcons img {
    height: 20px;
    width: 20px;
    margin: auto;
}

#projects {
    border: 2px solid red;
}

#projects h1 {
    border: 2px solid purple;
    text-align: center;
}

#projects .container {
    border: 2px solid green;
}

#projects .content {
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .project {
    border: 2px solid yellow;
    text-align: center;
}

#projects img {
    width: 150px;
    height: 150px;
}