header #content {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    border-bottom: 3px solid darkred;
}

nav {
    /* border: 2px solid red; */
    display: flex;
    margin: auto;
}

header ul {
    /* border: 2px solid yellow; */
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto; 
}

.leftList li {
    padding-left: 2.5rem;
}

.rightList li {
    padding-right: 2.5rem;
}

nav img {
    width: 100px;
    height: 100px;
    margin: 0 100px;
    background-color: darkred;
}

#about {
    border: 2px solid red;
    display: none;
}

#about h1 {
    border: 2px solid blue;
    text-align: center;
}

#about .container {
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .content {
    border: 2px solid yellow;
}

#about .languageIcons {
    border: 2px solid purple;
    display: flex;
}

#about .languageIcons img {
    height: 20px;
    width: 20px;
    margin: auto;
}

#projects {
    border: 2px solid red;
    display: none;
}

#projects h1 {
    border: 2px solid purple;
    text-align: center;
}

#projects .container {
    border: 2px solid green;
}

#projects .content {
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .project {
    border: 2px solid yellow;
    text-align: center;
}

#projects img {
    width: 150px;
    height: 150px;
}

#blog {
    border: 2px solid red;
    display: none;
}

#blog h1 {
    border: 2px solid yellow;
    text-align: center;
}

#blog .container {
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blog .content {
    border: 2px solid blue;
}

#blog .post {
    border: 2px solid purple;
}

#blog .info {
    border: 2px solid orange;
    display: flex;
}

#blog .left {
    border: 2px solid pink;
    align-self: center;
}

#blog .left img {
    width: 150px;
    height: 150px;

}

#blog .right {
    border: 2px solid black;
}

#blog .date {
    border: 2px solid darkred;
    text-align: right;
}

#blog .languageIcons {
    border: 2px solid darkblue;
}

#blog .languageIcons img {
    width: 20px;
    height: 20px;
}

#contact {
    border: 2px solid red;
    display: none;
}

#contact h1 {
    border: 2px solid green;
    text-align: center;
}

#contact .container {
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .content {
    border: 2px solid blue;
}

#contact .socialIcons {
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .socialIcons img {
    border: 2px solid darkred;
    width: 50px;
    height: 50px;
}